@page "/"

<h1>Introduction</h1>

<p><strong>Create your own book</strong> by adding your pages in PDF, PNG or JPEG format and merging them together form a brand new book in PDF format.</p>
<p><a href="create">Click here</a> to get started or select the Create Book option from the menu</p>
